.headline {
  font-size: 3em;
}
.btn i {
  font-size: 15px;
}
.input-field input {
  outline: 0;
  border-color: red;
}
@media screen and (max-width: 600px) {
  .headline {
    font-size: 2em;
  }
  .btn {
    padding: 0 10px;
    font-size: 11px;
  }
  .btn i {
    font-size: 11px;
  }
}
@media screen and (max-width: 385px) {
  .btn {
    padding: 0 8px;
    font-size: 9px;
  }
  .btn i {
    font-size: 9px;
  }
}
